# ==========================================
# VARIABLES DE ENTORNO (Archivos Sensibles)
# ==========================================
.env
*.env
**/.env
**/.env.*

# ==========================================
# BACKEND (Python / Flask)
# ==========================================
Backend/__pycache__/
Backend/*.pyc
Backend/*.pyo
Backend/venv/
Backend/env/

# ==========================================
# FRONTEND (React / Vite)
# ==========================================
Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/
*.log

# ==========================================
# ARCHIVOS DEL SISTEMA Y EDITORES
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/