# ==========================================
# BACKEND (Python / Flask)
# ==========================================
Backend/.env
Backend/__pycache__/
Backend/*.pyc
Backend/*.pyo
Backend/venv/
Backend/env/

# ==========================================
# FRONTEND (React / Vite)
# ==========================================
Frontend/node_modules/
Frontend/dist/
Frontend/.env.local
Frontend/.env.*.local

# ==========================================
# ARCHIVOS DEL SISTEMA Y EDITORES
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/

