<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Rajdhani:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Panel de Administración - Neo Grid Gaming</title>
    <link rel="icon" href="../static/img/icon.png?v=1" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="{{ url_for('index') }}" class="logo-link">
            <img
              src="{{ url_for('static', filename='img/logo.svg') }}"
              alt="Neo Grid Gaming"
              class="img-logo"
            />
          </a>
        </div>
        <div class="nav-admin">
          <span>Bienvenido, {{ session.get('nombres') }}</span>
          <a href="{{ url_for('logout') }}" class="btn-logout">Cerrar Sesión</a>
        </div>
      </nav>
    </header>
    <main class="contenedor-admin">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alerta alerta-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <section class="seccion-admin">
        <h1>Panel de Administración</h1>
        <h2>Agregar Nuevos Productos</h2>
        <form
          action="/admin"
          method="POST"
          enctype="multipart/form-data"
          class="formulario"
        >
          <div class="grupo-input">
            <label>Nombre del Producto</label>
            <input
              type="text"
              name="nombre"
              placeholder="EJ: Playstation"
              required
            />
          </div>
          <div class="grupo-input">
            <label>Precio</label>
            <input
              type="number"
              name="precio"
              placeholder="Ej: 2250000"
              required
            />
          </div>
          <div class="grupo-input">
            <label>Stock</label>
            <input type="number" name="stock" placeholder="Ej: 10" required />
          </div>
          <div class="grupo-input">
            <label>Descripción</label>
            <textarea
              name="descripcion"
              placeholder="Características del producto"
              required
            ></textarea>
          </div>
          <div class="grupo-input">
            <label>Categoria</label>
            <select name="categoria" required>
              {% for categoria in categorias %}
              <option value="{{ categoria['id_categoria'] }}">
                {{ categoria['nombre_categoria'] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="grupo-input">
            <label>Imagen del producto</label>
            <input type="file" name="imagen" accept="image/*" />
          </div>
          <button type="submit" class="btn-submit"> Guardar Producto</button>
        </form>
      </section>
      <section class="seccion-admin">
        <h2>Inventario Actual</h2>
        <table class="tabla-admin">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>nombre</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Categoria</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            <tr>
              <td>
                <img
                  src="{{ url_for('static', filename='img/productos/' + producto.imagen) }}"
                  alt="{{ producto.nombre }}"
                  class="img-tabla"
                />
              </td>
              <td>{{ producto.nombre }}</td>
              <td>${{ "{:,.0f}".format(producto.precio) }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.categoria_id_categoria }}</td>
              <td>
                <a
                  href="{{ url_for('eliminar_producto', id=producto.id_producto) }}"
                  class="btn-eliminar"
                  >Eliminar</a
                >
              </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="6">No hay productos registrados.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
